### Q1. Create a list of five integers and print it.

In [1]:
nums=[11,7,2,3,41]
print(nums)

[11, 7, 2, 3, 41]

### Q2. Write a program to find the length of a list.

In [2]:
list1=[5,10,15,20]
print(len(list1))

4

### Q3. Create a tuple with three elements and print the second item.

In [3]:
tuple1=(5,10,15)
print(tuple1[1])

10

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [5]:
dict1={"name =>":"shady", "age =>": "25", "major =>":"Electrical"}
print(dict1.keys())

dict_keys(['name =>', 'age =>', 'major =>'])

### Q5. Write a program to convert a list into a set.

In [6]:
list1=[5,10,15,20]
set1=set(list1)
print(set1)

{10, 20, 5, 15}

### Q6. Create a string and print its first and last characters.

In [7]:
txt="dejavu"
print(txt[0],txt[5])

d u

### Q7. Take input from the user and print it.

In [8]:
inuser= input("Enter an Input Please")
print(inuser)

4

### Q8. Write a program to add two numbers entered by the user.

In [9]:
x = int(input('Enter the first no.'))
y = int(input('Enter the second no.'))
print('summation = ',x+y)

summation =  6

### Q9. Use `type()` function to check the data type of a variable.

In [11]:
x = 'hi'
print(type(x))

<class 'str'>

### Q10. Create a boolean variable and print it.

In [12]:
validation = True
print(validation)

True

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [17]:
num = int(input('enter a number'))
if num>0:
    print ('positive')
elif num<0:
    print('negative')
else :
    print('zero')

negative

### Q12. Write a program to check if a number is even or odd.

In [1]:
num = int(input('Enter s number please'))
if num % 2 ==0:
    print ('this number is even')
else : 
    print('the number is odd')

this number is even

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [2]:
names = ["Rose"]*3
for name in names :
    print(name)

Rose
Rose
Rose

In [5]:
for _ in range (3):
    print("Rose")

Rose
Rose
Rose

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [6]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [9]:
names = ['Karim', 'Shady', 'Marline', 'akila']
for name in names :
    print(name)

Karim
Shady
Marline
akila

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [ ]:
sum = 0 
for i in range (1,101):
    sum += i
    print (sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [23]:
for i in range (1,21) :
    if i % 2 == 0:
       print(i)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [25]:
txt = 'glimpse'
for char in txt :
    print(char)

g
l
i
m
p
s
e

### Q19. Use a `for` loop to print all values in a dictionary.

In [32]:
value = {"name":"Rose", "age": 21 , "major":"Computer"}
for value in value.values():
    print(value)

Rose
21
Computer

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [34]:
num = int(input('enter a number'))
fact = 1
for i in range (1,num +1):
    fact *= i
print(fact)

6

### Q21. Create a list of your 5 favorite fruits.

In [37]:
fruits = ['watermelon' , 'mango', 'grapes', 'tangerine',"appricot" ]
print (fruits)

['watermelon', 'mango', 'grapes', 'tangerine', 'appricot']

### Q22. Add a new fruit to your list of favorite fruits.

In [41]:
fruits.append("kiwi")
print(fruits)

['watermelon', 'mango', 'grapes', 'tangerine', 'appricot', 'kiwi', 'kiwi', 'kiwi', 'kiwi']

### Q23. Remove the second item from a list.

In [42]:
fruits.pop(1)
print(fruits)

['watermelon', 'grapes', 'tangerine', 'appricot', 'kiwi', 'kiwi', 'kiwi', 'kiwi']

### Q24. Sort a list of numbers in descending order.

In [43]:
numbers = [11,7,2,3,41,24,10,19,72]
numbers.sort(reverse=True)
print(numbers)

[72, 41, 24, 19, 11, 10, 7, 3, 2]

### Q25. Find the maximum and minimum values in a list.

In [44]:
numbers = [11,7,2,3,41,24,10,19,72]
print("max=>", max(numbers))
print("min=>", min(numbers))

max=> 72
min=> 2

### Q26. Count how many times a value appears in a list.

In [45]:
numb = [11,11,11,7,2,3,41,24,10,19,72]
print(numb.count(11))

3

### Q27. Check if a specific value exists in a list.

In [46]:
if 41 in numb :
    print ('value is Found')
else:
    preint('value is Not Found')

value is Found

### Q28. Reverse a list without using reverse() function.

In [48]:
rnum=[12,23,6,27,78]
rlist = rnum [::-1]
print(rlist)

[78, 27, 6, 23, 12]

### Q29. Make a copy of a list and modify the copy only.

In [49]:
rnum=[12,23,6,27,78]
copy = rnum[:]
copy.append(2)
print ('original', rnum)
print ('copy=>', copy)

original [12, 23, 6, 27, 78]
copy=> [12, 23, 6, 27, 78, 2]

### Q30. Use slicing to get the first 3 items of a list.

In [50]:
fruits [:3]

['watermelon', 'grapes', 'tangerine']

### Q31. Create a tuple with 4 elements and print its length.

In [51]:
tup =(5,10,15,20)
print(len(tup))

4

### Q32. Access the last element of a tuple.

In [52]:
tup =(5,10,15,20)
print(tup[-1])

20

### Q33. Convert a tuple into a list.

In [53]:
mylist= list(tup)
print(mylist)

[5, 10, 15, 20]

### Q34. Convert a list into a tuple.

In [54]:
mytup = tuple(mylist)
print(mytup)

(5, 10, 15, 20)

### Q35. Check if a value exists in a tuple.

In [55]:
tup =(5,10,15,20)
print(5 in mytup)

True

### Q36. Concatenate two tuples.

In [56]:
t1 = (11,7,2,3)
t2 = (24,10,19,72)
print (t1 +t2)

(11, 7, 2, 3, 24, 10, 19, 72)

### Q37. Repeat a tuple 3 times.

In [57]:
t1 = (11,7,2,3)
print (t1*3)

(11, 7, 2, 3, 11, 7, 2, 3, 11, 7, 2, 3)

### Q38. Find the index of an element in a tuple.

In [62]:
t1 = (11,7,2,3)
print(t1.index(3))

3

### Q39. Use tuple unpacking to assign values to variables.

In [65]:
student =("Nadeem", 26, "cairo")
name , age , city = student
print (name)
print (age)
print (city)

Nadeem
26
cairo

### Q40. Create a nested list and access an inner element.

In [67]:
nestedlist =[[11,7],[24,10]]
print(nestedlist[0][1])

7

### Q41. Create a set of 5 unique colors.

In [68]:
colors = {"Navy blue","Phantom black","lilac","lime green","berrywinkle"}
print(colors)

{'lime green', 'lilac', 'Navy blue', 'Phantom black', 'berrywinkle'}

### Q42. Add a new color to the set.

In [69]:
colors.add("pearl white")
print(colors)

{'lime green', 'lilac', 'Navy blue', 'Phantom black', 'berrywinkle', 'pearl white'}

### Q43. Remove an item from the set using `remove()`.

In [70]:
colors.remove("lime green")
print(colors)

{'lilac', 'Navy blue', 'Phantom black', 'berrywinkle', 'pearl white'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [71]:
colors.discard("Beige")
print(colors)

{'lilac', 'Navy blue', 'Phantom black', 'berrywinkle', 'pearl white'}

### Q45. Create a set from a list with duplicate values.

In [72]:
l1 = [1,2,3,4,5]
s1 = set(l1)
print (s1)

{1, 2, 3, 4, 5}

### Q46. Find the union of two sets.

In [73]:
a={1,2,3}
b={3,4,5}
print(a|b)

{1, 2, 3, 4, 5}

### Q47. Find the intersection of two sets.

In [74]:
a={1,2,3}
b={3,4,5}
print(a&b)

{3}

### Q48. Find the difference between two sets.

In [75]:
a={1,2,3}
b={3,4,5}
print(a-b)

{1, 2}

### Q49. Check if a set is a subset of another set.

In [76]:
a={1,2,3}
b={3,4,5}
print({1,2}.issubset(a))

True

### Q50. Check if two sets are disjoint.

In [77]:
a={1,2,3}
b={3,4,5}
print(a.isdisjoint({6,7}))

True

### Q51. Create a dictionary with 3 items: name, age, and city.

In [78]:
dict2={"name =>":"Samer", "age =>": "25", "city =>":"Alex"}
print(dict2)

{'name =>': 'Samer', 'age =>': '25', 'city =>': 'Alex'}

### Q52. Add a new key-value pair to the dictionary.

In [82]:
dict2["job=>"]= "dentist"
print(dict2)

{'name =>': 'Samer', 'age =>': '25', 'city =>': 'Alex', 'job': 'dentist', 'job=>': 'dentist'}

### Q53. Update the value of an existing key in the dictionary.

In [83]:
dict2["age =>"]=26
print(dict2)

{'name =>': 'Samer', 'age =>': 26, 'city =>': 'Alex', 'job': 'dentist', 'job=>': 'dentist'}

### Q54. Remove a key from the dictionary using `pop()`.

In [86]:
dict2.pop("city =>")
print(dict2)

{'name =>': 'Samer', 'age =>': 26, 'job': 'dentist', 'job=>': 'dentist'}

### Q55. Check if a key exists in the dictionary.

In [87]:
print("name =>" in dict2)

True

### Q56. Loop through a dictionary and print all keys and values.

In [88]:
for key, value in dict2.items():
    print(key,value)

name => Samer
age => 26
job dentist
job=> dentist

### Q57. Get all keys from a dictionary using `keys()`.

In [89]:
print(dict2.keys())

dict_keys(['name =>', 'age =>', 'job', 'job=>'])

### Q58. Get all values from a dictionary using `values()`.

In [90]:
print(dict2.values())

dict_values(['Samer', 26, 'dentist', 'dentist'])

### Q59. Get all key-value pairs using `items()`.

In [91]:
print(dict2.items())

dict_items([('name =>', 'Samer'), ('age =>', 26), ('job', 'dentist'), ('job=>', 'dentist')])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [93]:
keys =["name","age","city"]
values =["Rose",21,"cairo"]
one=dict(zip(keys,values))
print(one)

{'name': 'Rose', 'age': 21, 'city': 'cairo'}